body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	background-color: #222222;
}

* {
	box-sizing: border-box;
}

.app {
	color: #ffffff;

	header {
		background-color: #4b4b4b;
		width: 100%;
		left: 0;
		top: 0;

		div.container {
			display: flex;
			align-items: center;
			margin: 0 40px;
			
			div.brand {
				display: flex;
				color: #ffffff;
				align-items: center;
				margin-right: 30px;
	
				img.logo {
					height: 40px;
					background: #666666;
					margin-right: 10px;
				}
	
				h1.title {
					font-size: 14pt;
				}
			}
	
			ul.menu {
				padding: 0;
				list-style: none;
				margin: 0;
				
				li {
					display: inline-block;
					margin-right: 15px;
		
					a {
						display: block;
						color: #ffffff;
						background: #666666;
						padding: 5px 10px;
						text-decoration: none;
						font-size: 12pt;
						font-weight: 600;
					}
		
					&:nth-last-child(1) {
						margin-right: 0;
					}
				}
			}
		}
	}

	main {
		div.container {
			margin: 0 40px;

			div.kanban {
				display: flex;
				flex-wrap: wrap;
				div.box a {
					background: #4b4b4b;
					display: block;
					padding: 8px;
					margin-right: 20px;
					margin-bottom: 20px;
					width: 300px;
					color: #ffffff;
					text-decoration: none;
					min-height: 110px;
					max-height: 110px;
					
					.title {
						margin-bottom: 10px;
						font-size: 14pt;
						font-weight: 600;
					}

					.description {
						overflow: hidden;
					}
				}
			}

			div.kanban-detail {

				div.board-box {
					margin-right: 20px;
					margin-bottom: 20px;
					border: 1px solid #222222;
					background-color: #4b4b4b;
					width: 250px;
					vertical-align: top;
					display: inline-block;
					
					> .title {
						padding: 8px 8px;
						margin: 0;
					}

					.task-box {
						padding: 8px;
						transition: background-color 0.2s ease;
						background-color: #4b4b4b;
						flex-grow: 1;
						min-height: 20px;

						.task-detail {
							padding: 8px;
							margin-bottom: 8px;
							color: #ffffff;
							background-color: #222222;
							border: 1px solid #222222;

							&:active {
								border: 1px solid #4b4b4b;
							}
						}
					}
				}

			}
		}
	}

	a.button-main {
		display: inline-block;
		color: #ffffff;
		background: #666666;
		padding: 5px 20px;
		text-decoration: none;
		font-size: 12pt;
		font-weight: 600;
	}

	.kami-create-section {
		display: flex;
		columns: 2;
		width: 100%;

		div.editor,
		div.preview {
			width: 100%;
			padding: 15px;
		}

		div.editor {
			padding-left: 0;
		}

		div.preview {
			padding-right: 0;
		}


		div.editor label {
			width: 100%;
			display: block;
			margin-bottom: 20px;
		}

		div.editor input,
		div.editor textarea,
		div.editor select {
			width: 100%;
			display: block;
			background: #222222;
			color: #ffffff;
			padding: 10px 6px;
			max-width: 100%;
			resize: vertical;
			border: none;
			border: 1px solid #666666;
		}
		
		div.editor input[type=submit] {
			background: #ffffff;
			color: #222222;
		}

		div.editor textarea.excerpt {
			min-height: 10vh;
			max-height: 20vh;
		}

		div.editor textarea.content {
			min-height: 40vh;
		}
	}

	.kami-list-section {
		div.kami-list {

			a {
				background: #666666;
				color: #ffffff;
				text-decoration: none;
				padding: 20px 25px;
				display: block;
				width: 100%;
				margin-top: 15px;

				h4,
				p {
					margin: 0;
				}
			}

		}
	}
}